<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sahlbach.org-linkz</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>08E1FE3F-DBF8-4962-AA36-CEE29133CFAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>251A4862-CB6A-41D9-962A-3A379820799B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A02CEBB5-6A0E-4A41-94C6-B1AD93D052F2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9CF2186E-DD4B-4A09-9401-AC3E504CF445</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4D8E3325-7D14-4FCF-8E57-F00579BE1A85</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>59D28FCE-42E3-4755-9036-F5D5B4EEE1E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5A7278FA-B820-4C52-9089-3B9F04E4AE79</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D55FC716-3154-421A-B092-6AFB68986D19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8E774872-787E-40D2-9E0C-3346BF394145</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>22F12297-C71D-4D21-A390-FF3519F7E149</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>02AB8104-E199-4292-B441-A19108423038</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B3A721C7-81F5-4665-8C68-6AE665CDFE9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2C831EA4-351A-4A60-9692-C921A53C83FC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8B8C3C4C-31E3-4665-B772-A2F4F1C3454C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DABA59F2-16C7-4D81-81D0-4C6BDB929264</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1A00CA1-F7DD-4CC7-9760-A83F7135573C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>92EA597F-923D-43C8-8DCB-02C9ACEDA254</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3A6A9196-2965-4BE9-A6A7-A7771801DA48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A13AE621-4954-498E-BA87-16980787A8AE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>71278EE6-3657-476B-8DD3-9C282ED36FD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77CFE4D8-09DA-45BB-81DD-4E46ABF60074</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD66376E-0FD6-4F51-B3CE-5390C53AF76F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BB88654-05F9-4750-B877-F2C56F56F469</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77CFE4D8-09DA-45BB-81DD-4E46ABF60074</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD66376E-0FD6-4F51-B3CE-5390C53AF76F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08E1FE3F-DBF8-4962-AA36-CEE29133CFAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E78D96E5-4638-4056-BEE9-561C9C5BD76F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BB88654-05F9-4750-B877-F2C56F56F469</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andreas Sahlbach</string>
	<key>description</key>
	<string>Search you org-linkz bookmark file to open the urls in your browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>org-linkz</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>firefox
</string>
						<key>outputlabel</key>
						<string>Firefox</string>
						<key>uid</key>
						<string>A02CEBB5-6A0E-4A41-94C6-B1AD93D052F2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Safari
</string>
						<key>outputlabel</key>
						<string>Safari</string>
						<key>uid</key>
						<string>A13AE621-4954-498E-BA87-16980787A8AE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Brave Browser
</string>
						<key>outputlabel</key>
						<string>Brave</string>
						<key>uid</key>
						<string>4D8E3325-7D14-4FCF-8E57-F00579BE1A85</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Microsoft Edge
</string>
						<key>outputlabel</key>
						<string>Microsoft Edge</string>
						<key>uid</key>
						<string>DABA59F2-16C7-4D81-81D0-4C6BDB929264</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Google Chrome
</string>
						<key>outputlabel</key>
						<string>Google Chrome</string>
						<key>uid</key>
						<string>5A7278FA-B820-4C52-9089-3B9F04E4AE79</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Opera
</string>
						<key>outputlabel</key>
						<string>Opera</string>
						<key>uid</key>
						<string>8E774872-787E-40D2-9E0C-3346BF394145</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Chromium
</string>
						<key>outputlabel</key>
						<string>Chromium</string>
						<key>uid</key>
						<string>02AB8104-E199-4292-B441-A19108423038</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Google Chrome Canary
</string>
						<key>outputlabel</key>
						<string>Google Chrome Canary</string>
						<key>uid</key>
						<string>92EA597F-923D-43C8-8DCB-02C9ACEDA254</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Safari Technology Preview
</string>
						<key>outputlabel</key>
						<string>Safari Technology Preview</string>
						<key>uid</key>
						<string>2C831EA4-351A-4A60-9692-C921A53C83FC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>08E1FE3F-DBF8-4962-AA36-CEE29133CFAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	set frontApp to name of first application process whose frontmost is true
end tell
return frontApp</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77CFE4D8-09DA-45BB-81DD-4E46ABF60074</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>b</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching....</string>
				<key>script</key>
				<string>query=$*

./target/release/linkz --alfred --json $HOME/${LINKZ_JSON} ${query}



</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter keywords or #tags to search for</string>
				<key>title</key>
				<string>Search org-linkz</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E78D96E5-4638-4056-BEE9-561C9C5BD76F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>link</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8BB88654-05F9-4750-B877-F2C56F56F469</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>browser</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AD66376E-0FD6-4F51-B3CE-5390C53AF76F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>251A4862-CB6A-41D9-962A-3A379820799B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>59D28FCE-42E3-4755-9036-F5D5B4EEE1E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9CF2186E-DD4B-4A09-9401-AC3E504CF445</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.chromium.Chromium</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>22F12297-C71D-4D21-A390-FF3519F7E149</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B3A721C7-81F5-4665-8C68-6AE665CDFE9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.operasoftware.Opera</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D55FC716-3154-421A-B092-6AFB68986D19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome.canary</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F1A00CA1-F7DD-4CC7-9760-A83F7135573C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.microsoft.edgemac</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8B8C3C4C-31E3-4665-B772-A2F4F1C3454C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.SafariTechnologyPreview</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3A6A9196-2965-4BE9-A6A7-A7771801DA48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>71278EE6-3657-476B-8DD3-9C282ED36FD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Searching the org-linkz bookmark file (the json export of it)</string>
	<key>uidata</key>
	<dict>
		<key>08E1FE3F-DBF8-4962-AA36-CEE29133CFAE</key>
		<dict>
			<key>note</key>
			<string>If a browser is the frontmost app, open the webpage in that browser, or otherwise open it in the default browser.</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>22F12297-C71D-4D21-A390-FF3519F7E149</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Chromium</string>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>251A4862-CB6A-41D9-962A-3A379820799B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Firefox</string>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>3A6A9196-2965-4BE9-A6A7-A7771801DA48</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Safari Tech Preview</string>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>59D28FCE-42E3-4755-9036-F5D5B4EEE1E9</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Google Chrome</string>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>71278EE6-3657-476B-8DD3-9C282ED36FD7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Default Browser</string>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>77CFE4D8-09DA-45BB-81DD-4E46ABF60074</key>
		<dict>
			<key>note</key>
			<string>Check for frontmost app</string>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>8B8C3C4C-31E3-4665-B772-A2F4F1C3454C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Microsoft Edge</string>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>8BB88654-05F9-4750-B877-F2C56F56F469</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>9CF2186E-DD4B-4A09-9401-AC3E504CF445</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Brave</string>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>AD66376E-0FD6-4F51-B3CE-5390C53AF76F</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>B3A721C7-81F5-4665-8C68-6AE665CDFE9B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Safari</string>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>D55FC716-3154-421A-B092-6AFB68986D19</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Opera</string>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>E78D96E5-4638-4056-BEE9-561C9C5BD76F</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>F1A00CA1-F7DD-4CC7-9760-A83F7135573C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Chrome Canary</string>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>LINKZ_JSON</key>
		<string>notes/org/linkz/Linkz.json</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/Khoulaiz/org-linkz</string>
</dict>
</plist>
